@import url('../can-admin-app/dist/bundles/can-admin/app/crud.css');

header.main {
    padding: 1rem;
    background: #efefef;
}

.content {
    padding-top: 1rem;
}

ul.checklist {
    list-style: none;
    padding-left: 20px;
}

ul.checklist li:before {
    font-family: 'FontAwesome';
    content: '\f00c';
    margin: 0 5px 0 -15px;
}

.features i {
    font-size: 4rem;
    margin: 25px 0 0 10px;
    color: #a7c9d6;
}
