<div class="columns features">
    <div class="column col-6 col-sm-12">
        <div class="panel">
            <div class="panel-header">
                <div class="panel-title">User Features</div>
            </div>


            <div class="tile">
                <div class="tile-icon">
                    <div class="example-tile-icon">
                        <i class="fa fa-filter"></i>
                    </div>
                </div>
                <div class="tile-content">
                    <ul class="checklist">
                        <li>
                            Quickly filter data using predefined filters
                        </li>
                        <li>
                            Use custom filters to create complex queries
                        </li>
                    </ul>
                </div>
            </div>


            <div class="tile">
                <div class="tile-icon">
                    <div class="example-tile-icon">
                        <i class="fa fa-sort-alpha-asc"></i>
                    </div>
                </div>
                <div class="tile-content">
                    <ul class="checklist">
                        <li>
                            Sort data using predefined columns
                        </li>
                        <li>
                            View data in a paginated list type table
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tile">
                <div class="tile-icon">
                    <div class="example-tile-icon">
                        <i class="fa fa-pencil-square-o"></i>
                    </div>
                </div>
                <div class="tile-content">
                    <ul class="checklist">
                        <li>
                            Access detailed and related property tables
                        </li>
                        <li>
                            Create and edit data using a variety of field controls
                        </li>
                    </ul>
                </div>
            </div>


            <div class="tile">
                <div class="tile-icon">
                    <div class="example-tile-icon">
                        <i class="fa fa-share-alt"></i>
                    </div>
                </div>
                <div class="tile-content">
                    <ul class="checklist">
                        <li>
                            Generate links to any item in any view to share with others. Example: <code>#!pages/details/32</code>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="column col-6 col-sm-12">
        <div class="panel">
            <div class="panel-header">
                <div class="panel-title">Developer Features</div></div>

            <div class="tile">
                <div class="tile-icon">
                    <div class="example-tile-icon">
                        <i class="fa fa-database"></i>
                    </div>
                </div>
                <div class="tile-content">
                    <ul class="checklist">
                      <li>
                          View, Edit, and Delete data from virtually any type of REST server or data store using <a href="http://canjs.com/doc/can-connect.html">CanJS's Can-Connect</a>
                      </li>
                    </ul>
                </div>
            </div>

            <div class="tile">
                <div class="tile-icon">
                    <div class="example-tile-icon">
                        <i class="fa fa-wrench"></i>
                    </div>
                </div>
                <div class="tile-content">
                    <ul class="checklist">
                        <li>
                            Customize the display of each data view for a complete user experiencer
                        </li>
                        <li>
                            Format fields using custom functions to display images, links, etc.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="tile">
                <div class="tile-icon">
                    <div class="example-tile-icon">
                        <i class="fa fa-line-chart"></i>
                    </div>
                </div>
                <div class="tile-content">
                    <ul class="checklist">

                        <li>
                            Develop code in manageable modules using ES6 code. ES6 is transpiled on the fly using <a href="http://stealjs.com/">StealJS</a>
                        </li>
                        <li>
                            Create super efficient, progressivly loaded bundles using StealJS's companion package, Steal Tools
                        </li>

                    </ul>
                </div>
            </div>
            <ul class="checklist">
            </ul>
        </div>
    </div>
</div>
