<p>
    Can Admin uses some cutting edge libraries to balance performance, application maintainability, and user requirements. All softare dependencies are free and open source. While python (Flask) is used to power this demo, Can Admin is designed to work with
    any server backend.
</p>

<div class="columns">

    <div class="column col-4 col-sm-6 col-xs-12">
        <div class="card">
            <div class="card-header">
                <div class="card-image">
                    <img src="{{url_for('static', filename='images/canjs_logo.svg')}}" class="img-responsive" style="height:50px;" />
                </div>
                <h6 class="card-meta">Live Binding Templates and Web Components</h6>
            </div>
            <div class="card-body">CanJS is an evolving and improving set of client side JavaScript architectural libraries that balances innovation and stability. It targets experienced developers building complex applications with long futures ahead of them.
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="http://canjs.com/">More Info</a>
            </div>
        </div>
    </div>
    <div class="column col-4 col-sm-6 col-xs-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Spectre.css</h4>
                <h6 class="card-meta">The lightweight, responsive and modern CSS framework</h6>
            </div>
            <div class="card-body">Spectre.css is a lightweight and responsive and modern CSS framework for faster and extensible development.<br /> Spectre provides basic styles for typography and elements, flexbox based responsive layout system, CSS components and utilities
                with best practice coding and consistent design language.
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="https://picturepan2.github.io/spectre/index.html">More Info</a>
            </div>
        </div>


    </div>
    <div class="column col-4 col-sm-6 col-xs-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">FontAwesome</h4>
                <h6 class="card-meta">The iconic font and CSS toolkit</h6>
            </div>
            <div class="card-body">Font Awesome gives you scalable vector icons that can instantly be customized — size, color, drop shadow, and anything that can be done with the power of CSS.
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="http://fontawesome.io/">More Info</a>
            </div>
        </div>


    </div>


    <div class="column col-4 col-sm-6 col-xs-12">
        <div class="card">
            <div class="card-header">
                <div class="card-image">
                    <img src="{{url_for('static', filename='images/steal_logo.jpg')}}" class="img-responsive" style="height:50px;" />
                </div>
                <h6 class="card-meta">Dependency loader and builder</h6>
            </div>
            <div class="card-body">Futuristic JavaScript dependency loader and builder. Speeds up application load times. Works with ES6, CommonJS, AMD, CSS, LESS and more. Simplifies modular workflows.
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="http://stealjs.com/">More Info</a>
            </div>
        </div>


    </div>

    <div class="column col-4 col-sm-6 col-xs-12">

        <div class="card">
            <div class="card-header">
                <div class="card-image">
                    <img src="{{url_for('static', filename='images/flask.png')}}" class="img-responsive" style="height:50px;" />
                </div>
                <h6 class="card-meta">Python Server - Used for demo</h6>
            </div>
            <div class="card-body">Flask is a microframework for Python based on Werkzeug, Jinja 2 and good intentions.
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="http://flask.pocoo.org/">More Info</a>
            </div>
        </div>


    </div>
    <div class="column col-4 col-sm-6 col-xs-12">

        <div class="card">
            <div class="card-header">
                <div class="card-image">
                    <img src="{{url_for('static', filename='images/flask-restless.png')}}" class="img-responsive" style="height:50px;" />
                </div>
                <h6 class="card-meta">REST API Server</h6>
            </div>
            <div class="card-body">Flask-Restless provides simple generation of ReSTful APIs for database models defined using SQLAlchemy (or Flask-SQLAlchemy). The generated APIs send and receive messages in JSON format.
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="http://flask.pocoo.org/">More Info</a>
            </div>
        </div>


    </div>


</div>
