<header class="navbar main">
    <section class="navbar-primary">
        <a href="/" class="navbar-brand mr-10">Can-Admin</a>
    </section>

    <section class="navbar-section">
        <div class="dropdown dropdown-right">
            <a href="#" class="btn btn-link dropdown-toggle" tabindex="0">Browse the demo <i class="icon-caret"></i></a>
            <!-- menu component -->
            <ul class="menu">
                <li class="menu-item">
                    <a href="{{url_for('page', page='admin')}}"><i class="fa fa-fw fa-newspaper-o"></i> Article Manager</a>
                </li>
            </ul>
        </div>
    </section>

    <section class="navbar-section">
        <div class="dropdown dropdown-right">
            <a href="#" class="btn btn-link dropdown-toggle" tabindex="0">Get the code <i class="icon-caret"></i></a>
            <!-- menu component -->
            <ul class="menu">
                <li class="menu-item">
                    <a href="https://github.com/roemhildtg/flask-can-crud"><i class="fa fa-fw fa-github"></i> Flask Python App</a>
                </li>
                <li class="menu-item">
                    <a href="https://github.com/roemhildtg/can-admin-app"><i class="fa fa-fw fa-github"></i> Can-Admin-App</a>
                </li>
                <!-- <li class="menu-item">
                    <a href="https://roemhildtg.github.io/spectre-canjs/docs/index.html"><i class="fa fa-fw fa-github"></i> Spectre-CanJS</a>
                </li> -->
            </ul>
        </div>
    </section>


</header>
